<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for reaching out, <%= @lead.name %>!</h1>
    <p>Are you available to chat regarding Actualize?</p>
  </body>
</html>
